body {
  font-family: Arial, sans-serif;
  background-image: url('./assets/img.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  min-height: 30rem;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}

.heading {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.heading-2 {
  margin-bottom: 0px;
  font-size: 24px;
  color: #333;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.qr-reader {
  margin-top: 20px;
  width: 100%;
  max-width: 430px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.qr-reader video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.qr-reader .qr-box {
  width: 100%;
  left: 0;
}

.qr-reader .qr-frame {
  position: absolute;
  fill: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 426px) {
  .container {
    padding: 10px;
  }
}
